body{
  padding-top: 100px;
}

.margen{
  padding-top: 200px;
}

/* Seccion de pedido */

.margen-pedido{
  padding-top: 60px;
  padding-bottom: 60px;
}

.margen-resultados{
  padding-top: 60px;
  padding-bottom: 300px;
}

.margen-cartas{
  margin-bottom: 20px;
}

.filtro-bn{
  filter: grayscale(100%);
}

.margen-formulario{
  margin-top: 20px;
}
